<div class="selection-container">

	<select [(ngModel)]="baseCountryValue" (ngModelChange)="changeBaseCountry($event)" id="baseCountry">
		<option *ngFor="let item of baseCountryOptions | async" [value]="item">{{item}}</option>
	</select>
	<p>to</p>
	<select [(ngModel)]="secondCountryValue" (change)="changeSecondCountry($event)" id="secondCountry">
		<option *ngFor="let item of secondCountryOptions | async" [value]="item">{{item}}</option>
	</select>
</div>
<app-currency-value [baseCountry]="baseCountryValue" [secondCountry]="secondCountryValue">
</app-currency-value>